<form class="" action="/users" method="post">
    <input type="text" name="name" value="">
    <input type="email" name="email" value="">
    <input type="password" name="email" value="">
    <label>Highest Education Completed</label>
    <input type="radio" name="education value="1">
    <input type="radio" name="education" value="2">
    <input type="radio" name="education" value="3">
    

</form>