<h1>Create a Cohort</h1>
    <form class="" action="/cohorts" method="post">
      <input type="text" name="name" value=""></br>
      <input type="number" name="courseID" value=""></br>
      <input type="submit" name="submit" value=""></br>

    </form>
