<html>
    <head> 
        <title>Admin Panel</title>
    </head>
    <body>
        <h1>YERRRRRRRR</h1>
        <ul>
            <li><a href=""</a></li>
                <li><a href=""</a></li>
                    <li><a href=""</a></li>
                        <li><a href=""</a></li>
                            <li><a href=""</a></li>
                                <li><a href=""</a></li>
</ul>
        </ul>
    </body>
</html>